.comment-container{
    border: solid 1px rgb(219, 152, 185);
    border-radius: 5px;  
}

.box-comment{
    background-color:  rgb(219, 152, 185);
    border-radius: 5px;  
    padding: 10px;
    font-style: italic;
    font-size: small;
}